body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top, #1e293b, #0f172a);
    color: white;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(17, 24, 39, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

footer {
    text-align: center;
    padding: 40px 20px;
    background: #0b1220;
    color: #9ca3af;
    font-size: 14px;

}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ef4444;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    color: #9ca3af;
    margin-bottom: 40px;
}

.scan-box {
    background: #1f2937;
    padding: 30px;
    border-radius: 12px;
    width: 60%;
    margin: auto;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 14px 35px;
    background: linear-gradient(45deg, #ef4444, #dc2626);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.6);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 25px rgba(239, 68, 68, 0.9);
}

.result-card {
    margin-top: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 15px;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}
.safe {
    background-color: #16a34a;
}

.suspicious {
    background-color: #f59e0b;
}

.high {
    background-color: #dc2626;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    margin-top: 60px;
}