body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #111827;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ef4444;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    color: #9ca3af;
    margin-bottom: 40px;
}

.scan-box {
    background: #1f2937;
    padding: 30px;
    border-radius: 12px;
    width: 60%;
    margin: auto;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 12px 30px;
    background: linear-gradient(45deg, #ef4444, #dc2626);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.result-card {
    margin-top: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 12px;
}

.safe {
    background-color: #16a34a;
}

.suspicious {
    background-color: #f59e0b;
}

.high {
    background-color: #dc2626;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    margin-top: 60px;
}